<div class="hero" id="about">
    <div class="col-md-6 about-section">
        <h2>About Me</h2>

        <p>
            I am a passionate Angular Developer with around 3 years of experience in building responsive and scalable
            web applications. I specialize in developing dynamic user interfaces using Angular, TypeScript, HTML, and
            SCSS, with a strong focus on creating clean, maintainable, and user-friendly solutions.

            Currently, I work at Bluescope Information Technology, where I contribute to a low-code/no-code platform,
            developing reusable components and improving application performance. I have experience working with Angular
            Material, reactive forms, dynamic forms, and component-based architecture.

            Previously, I worked at NeST Digital as a Software Engineer Trainee, where I gained hands-on experience in
            frontend development with Angular and backend development using Java Spring Boot, giving me a good
            understanding of full-stack application development.

            I enjoy solving complex problems, learning new technologies, and building efficient web applications that
            deliver great user experiences. I am always eager to expand my skills and contribute to innovative projects.
        </p>

    </div>
    <div class="col-md-6">

    </div>
</div>