<div class="hero" id="home">
  <div class="col-md-6">
    <section>

      <h3>Hello, I'm</h3>
      <h2>Nivedha N R</h2>

      <h1>Angular Developer</h1>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/nivedha-nr" target="_blank">
          <img src="shapes/linkedin.png" alt="LinkedIn">
        </a>
      
        <a href="https://github.com/nivedhanr?tab=repositories" target="_blank">
          <img src="shapes/github2.png" alt="GitHub" >
        </a>

        <a href="https://wa.me/916238290125" target="_blank">
          <img src="shapes/whatsapp.png" alt="WhatsApp">
        </a>
        
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nivedharenahan@gmail.com" target="_blank">
          <img src="shapes/gmail.png" alt="Email">
        </a>
      </div>

    </section>


    <!-- <section class="skills">

      <h2>My Skills</h2>

      <div class="skills-grid">

        @for (skill of skills; track skill) {
        <div class="skill-card">
          {{skill}}
        </div>
        }

      </div>

    </section> -->
  </div>
  <div class="col-md-6 profileContainer">
    <div class="profile">
      <img src="shapes/profilepic.png" alt="Profile">
    </div>
  </div>
</div>